.icon-style{
    color:grey,
  }
  
  .text-style{
    text-transform: none;color:grey
  }
  .horizontalLine {
    width:500px;
    height:1px;           
    background:rgb(212, 209, 209);           
  }  