<ion-content id="home" style="background-color: #d9d9d9;">
  <ion-card>
    <ion-row>
      <ion-col col-8>
        <h1 ion-text color="primary">facebook</h1>
      </ion-col>
      <ion-col style="margin-right: -15px;">
        <ion-icon style="zoom: 1.3;" name="ios-search-outline" (click)="openSearch()"></ion-icon>
        <ion-icon style="zoom: 1.3;" name="ios-chatbubbles-outline"></ion-icon>
        <ion-icon style="zoom: 1.3;" name="ios-pin-outline" (click)="openBackgroundGeolocation()"></ion-icon>
      </ion-col>
    </ion-row>
    <ion-row style="margin: -10px -10px 0px -5px;">
      <ion-item>
        <ion-avatar item-start>
          <img src="assets/images/baby5.png" alt="">
        </ion-avatar>
        <ion-input color="white" calass="inputText" placeholder="What's on your mind?"></ion-input>
      </ion-item>
    </ion-row>
    <hr>
    <ion-row>
      <ion-col no-padding>
        <button class="btnRow" ion-button full clear no-margin>
          <ion-icon class="icon" color="liveIcon" name="ios-videocam"></ion-icon>
          <span class="text-style" ion-text color="dark">Live</span>
        </button>
      </ion-col>
      <div class="verticalLine"></div>
      <ion-col no-padding>
        <button class="btnRow" ion-button full clear no-margin>
          <ion-icon class="icon" color="photoIcon" name="ios-images"></ion-icon>
          <span class="text-style" ion-text color="dark">Photo</span>
        </button>
      </ion-col>
      <div class="verticalLine"></div>
      <ion-col no-padding>
        <button class="btnRow" ion-button full clear no-margin>
          <ion-icon class="icon" color="checkinIcon" name="ios-pin"></ion-icon>
          <span class="text-style" ion-text color="dark">Check In</span>
        </button>
      </ion-col>
    </ion-row>
  </ion-card>

  <ion-card class="cardMarginTop">
    <ion-slides loop="true" slidesPerView="4">
      <ion-slide class="storySlide" *ngFor="let img of images">
        <button class="btnAdd">
          <ion-icon color="primary" name="md-add"></ion-icon>
        </button>
        <img src="assets/images/{{img.image}}" class="photos" />
        <div class="txtStory">{{img.txt}}</div>
      </ion-slide>
    </ion-slides>
    <button ion-button class="storyBtn" color="storyBtn" block>
      <p ion-text color="primary" style="text-transform: none;font-size: medium;">See All Stories</p>
    </button>
  </ion-card>

  <ion-card class="cardMarginTop">
    <ion-grid class="avatarRow">
      <ion-item>
        <ion-avatar item-start>
          <img src="assets/images/baby7.png">
        </ion-avatar>
        <ion-row>
          <ion-col>
            <h2 ion-text color="dark">Khin Chan Myae Han</h2>
          </ion-col>
          <ion-col col-1 style="margin-right: 5px;" (click)="openMenu()">
            <ion-icon name="ios-more" ></ion-icon>
          </ion-col>
        </ion-row>
        <ion-row style="margin-top: -15px; margin-left:-6px">
          <ion-col col-2>
            <h6 ion-text color="darkgrey" style="font-size:smaller;">2 min .</h6>
          </ion-col>
          <ion-col>
            <ion-icon style="zoom: 0.7;" name="md-globe" color="darkgrey"></ion-icon>
          </ion-col>
        </ion-row>
      </ion-item>
    </ion-grid>

    <ion-card-content style="margin: -21px 0px -15px -5px;">
      Hello, I am glad to meet you. You are the best for me.
      <ion-row *ngFor="let item of items" style="margin: 5px">
        <ion-icon style="margin-bottom: -6px;" *ngIf="item.like" name="ios-thumbs-up-outline" color="primary"><span
            ion-text color="darkgrey">&nbsp;1</span></ion-icon>
      </ion-row>
    </ion-card-content>

    <ion-item-divider color='black'></ion-item-divider>

    <ion-row *ngFor="let item of items" style="padding-bottom: 2px;padding-top: 2px">
      <ion-col *ngIf="item.like" (click)="handleLike2(item)" text-center>
        <ion-icon name="md-thumbs-up" color="primary"></ion-icon><span ion-text color="primary">&nbsp;Unlike</span>
      </ion-col>
      <ion-col *ngIf="!item.like" (click)="handleLike2(item)" text-center>
        <ion-icon name="ios-thumbs-up-outline" color="darkgrey"></ion-icon><span ion-text
          color="darkgrey">&nbsp;Like</span>
      </ion-col>
      <ion-col text-center>
        <ion-icon name="ios-text-outline" color="darkgrey"></ion-icon><span class="text-style">&nbsp;Comment</span>
      </ion-col>
      <ion-col text-center>
        <ion-icon name="ios-redo-outline" color="darkgrey"></ion-icon><span class="text-style">&nbsp;Share</span>
      </ion-col>
    </ion-row>
  </ion-card>

  <ion-card>
    <ion-row class="findRequest">
      <ion-col>
        <span ion-text color="dark">Friend Requests</span>
      </ion-col>
      <ion-col col-1 (click)="openMenu()">
        <ion-icon name="ios-more" style="margin-left: -5px;"></ion-icon>
      </ion-col>
    </ion-row>
    <ion-slides loop="true" slidesPerView="1">
      <ion-slide *ngFor="let p of photos" class="imgSlide">
        <ion-card class="imgCard">
          <img src="assets/images/{{p.image}}" class="requestImg" />
          <ion-row>
            <span class="cardTitle" ion-text color="dark">{{p.txt}}</span>
          </ion-row>
          <ion-row>
            <h6 class="cardsubTitle" color="darkgrey">{{p.subtxt}}</h6>
          </ion-row>
          <ion-grid>
            <ion-row>
              <ion-col>
                <button class="confirmBtn" ion-button block>
                  <span class="text-style" ion-text color="white">
                    Confirm </span>
                </button>
              </ion-col>
              <ion-col>
                <button class="deleteBtn" ion-button block>
                  <span class="text-style" ion-text color="dark">
                    Delete</span></button>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card>
      </ion-slide>
    </ion-slides>
  </ion-card>

  <ion-card ion-card class="cardMarginTop">
    <ion-grid class="avatarRow">
      <ion-item>
        <ion-avatar item-start>
          <img src="assets/images/baby1.png">
        </ion-avatar>
        <ion-row>
          <ion-col>
            <h2 ion-text color="dark">Khin Chan Myae Han</h2>
          </ion-col>
          <ion-col col-1 style="margin-right: 5px;" (click)="openMenu()">
            <ion-icon name="ios-more" ></ion-icon>
          </ion-col>
        </ion-row>
        <ion-row style="margin-top: -18px;margin-left:-6px">
          <ion-col col-2>
            <h6 color="darkgrey" style="font-size:smaller;">2 min .</h6>
          </ion-col>
          <ion-col>
            <ion-icon style="margin-left: -3px;zoom: 0.7; margin-top: 2px;" color="darkgrey" name="md-globe"></ion-icon>
          </ion-col>
        </ion-row>
      </ion-item>
      <ion-card-content>
        Hello, I am glad to meet you. You are the best for me.
      </ion-card-content>
    </ion-grid>

    <ion-card>
      <ion-grid class="avatarRow">
        <ion-item>
          <ion-avatar item-start>
            <img src="assets/images/baby3.png">
          </ion-avatar>
          <ion-row>
            <ion-col>
              <h2 ion-text color="dark">Khin Chan Myae Han</h2>
            </ion-col>           
          </ion-row>
          <ion-row style="margin-top:-14px;margin-left:-6px">
            <ion-col col-7>
              <h6 color="darkgrey" style="font-size:smaller;">Saturday at 10:33AM .</h6>
            </ion-col>
            <ion-col>
              <ion-icon style="margin-left: -5px;zoom: 0.7; margin-top: 1px;" name="md-globe" color="darkgrey">
              </ion-icon>
            </ion-col>
          </ion-row>
        </ion-item>
        <ion-card-content>
          This is share post. I want to try the best.
          This is share post. I want to try the best.
          This is share post. I want to try the best.
          This is share post. I want to try the best.
        </ion-card-content>
      </ion-grid>
    </ion-card>
    <ion-row *ngFor="let item of items" style="margin: 5px">
      <ion-icon style="margin-bottom: -6px;" *ngIf="item.like" name="ios-thumbs-up-outline" color="primary"><span
          ion-text color="darkgrey">&nbsp;1</span></ion-icon>
    </ion-row>
    <ion-item-divider color='black'></ion-item-divider>
    <ion-row *ngFor="let item of items" style="padding-bottom: 2px;padding-top: 2px">
      <ion-col *ngIf="item.like" (click)="handleLike2(item)" text-center>
        <ion-icon name="md-thumbs-up" color="primary"></ion-icon><span ion-text color="primary">&nbsp;Unlike</span>
      </ion-col>
      <ion-col *ngIf="!item.like" (click)="handleLike2(item)" text-center>
        <ion-icon name="ios-thumbs-up-outline" color="darkgrey"></ion-icon><span ion-text
          color="darkgrey">&nbsp;Like</span>
      </ion-col>
      <ion-col text-center>
        <ion-icon name="ios-text-outline" color="darkgrey"></ion-icon><span class="text-style">&nbsp;Comment</span>
      </ion-col>
      <ion-col text-center>
        <ion-icon name="ios-redo-outline" color="darkgrey"></ion-icon><span class="text-style">&nbsp;Share</span>
      </ion-col>
    </ion-row>
  </ion-card>
</ion-content>