page-home {
    #home{ 
        .myborder{
        //    width: 90px !important;
        //    height: 60px !important;
            border-radius: 50% !important;
            overflow: hidden !important;
            border-radius: 50%;
            border: 0.19em solid #03256C !important;
          }
        .cardMarginTop{
            margin-top: -3px;
        }   
        h1{           
            font-weight: bold;           
            margin-left: 5px;
        }   
        h2{
            font-weight: bolder;
            margin-left: -5px;
        }                       
        .inputText{
            width: 100%;
            font-size: medium;                  
            margin-left: -8px;
         }
         .btnText{
             font-size: small;
             text-transform: none;
         }
         .btnRow{
            max-height: 30px;           
            padding-bottom: 9px;
         }
         .verticalLine {
            width:1px;
            height:25px;           
            background:rgb(212, 209, 209);           
          }   
        //  .mydayphoto{
        //     padding-top: 5px; 
        //     margin-right: -15px;
        //     margin-left: -18px; 
        //     // padding-left: 4%; 
        //     // padding-right: 3%; 
        //     // padding-top: 4%;
        //     padding-left: 15px; 
        //     padding-right: 15px; 
        //     padding-top: 15px;
        //  }     
       .storySlide {            
            padding-top: 10px; 
            //margin-right: -15px;
            //margin-left: -18px; 
            padding-left: 5px; 
           // padding-right: 15px; 
           // padding-top: 4%;
       }    
         .photos{
            height: 150px;
            width: 100%;           
            border-radius: 20px;
            object-fit: cover;    
            //padding-left: -5px;       
        }
        .btnAdd{            
            position: absolute;            
            top: 10%;
            right: 43%;           
            padding: 1px 4px 1px 4px;            
            //background-color: primary;           
            font-size: 18px;       
           // cursor: pointer;
            border-radius: 50%;
            text-align: center;                 
            border:0.19em solid #03256C;            
        }
        .txtStory{
            position: absolute;
            bottom: 8px;           
            font-size: small;
            font-weight: bold;
            color: white;            
            //text-align: center;  
            padding-left: 5px;         
        }
        .storyBtn{  
            margin-top: 8px;      
            margin-left: 10px;
            margin-right: 4px;
            margin-bottom: 12px;
            border-radius: 5px; 
            height: 30px;
            width: 93%;
           
            
        }
        .icon{
            //margin-right:0.5em;
            padding: 5px;
            align-items: center;
        }
        .avatarRow{
            margin-top: -15px;
            margin-left: -10px; 
            margin-bottom: -10px; 
            //margin-right: -5px;
        }
        .requestImg{
            height: 300px;
            width: 100%;   
            //margin: 0.5px;
            object-fit: cover;
           // border-radius: 10px;
            
        }
        .imgSlide{
            
            //padding-top: 3%; 
            padding-bottom: 3%; 
            padding-right: 5%; 
            // margin-left: 5px;
            // margin-right: 10px;
           // margin-right: -15px;
            
           // background-attachment: fixed;
           // background-color:black;
           // border-radius: 50%;
            //padding-right: 25px; 
            //margin-top: -25px; 
            //  margin-left: -25px; 
            //  margin-right: -25px;
        }
        .imgCard{
            border-radius: 20px; 
            padding-right: -5%;
            margin-right: -5px;
            // margin-left: -5px; 
           // margin-right: 10px !important;
            //margin-bottom: -2px;
           // margin-top: -2px;
            //background-color: red;
        }
        .cardTitle{
            text-transform: none;
            padding: 20px 15px 3px;
            text-align: end;

        }
        .findRequest{
            padding-top: 5px;
            padding-left: 5px;

        }
        .cardsubTitle{
            font-size: smaller;
            padding: 0px 15px 0px;
        }
        .confirmBtn{
           font-size: small; 
           margin-left: 4px; 
           margin-right: -5px;
           width: 98%;
           border-radius: 10px;
        }
        .deleteBtn{
           font-size: small; 
           background-color: lightgrey; 
           margin-right: 7px; 
           width: 98%;
           border-radius: 10px;
        }
        .text-input::-moz-placeholder {
            color: black;
          }
          
          .text-input:-ms-input-placeholder {
            color: black;
          }
          
          .text-input::-webkit-input-placeholder {
            color: black;
          }
        
          .text-style{
            text-transform: none;
             }
         
    
        }
        
    }
// .icon-style{
//         color:grey,
//   }
      

        