// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: "../assets/fonts";


// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: ltr;


@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/theming/overriding-ionic-variables/




// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary:   #03256C, 
  secondary:  #2541B2,
  third: #1768AC,
  fouth: #06BEE1,
  Btn: rgb(179, 227, 236),
  white: #FFFFFF,
  darkgrey:grey,  
  dark:      black,  
  badgered: rgb(238, 44, 173),
  liveIcon: #c340d4,
  photoIcon: #06BEE1,
  checkinIcon: rgb(195, 64, 212),
  video: rgb(48, 133, 202),
  event: rgb(104, 125, 241),
  memories:rgb(48, 132, 241),
  saved:rgb(65, 141, 241),
  page:rgb(124, 131, 226),
  nearby:#1768AC,
  gaming:rgb(74, 99, 199),
  job:rgb(200, 143, 226),
  crisis:#06BEE1,
  recent:#06BEE1,
  see:rgb(45, 240, 224),
  scan:red,
  help:blue,
  setting:blue,
  logout:red,


);


// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here




// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here




// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";
